<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.LikesMapper">
    <!--  检查数据库中是否存在记录，存在则返回id  -->
    <select id="select" resultType="likes">
        select id, target_type, target_id from t_likes
        <where>
            <if test="targetId != 0">
                target_id = #{targetId}
            </if>
            <if test="targetType != null and targetType != ''">
                and target_type = #{targetType}
            </if>
        </where>
    </select>

    <!--  插入一条新的记录  -->
    <insert id="insert" useGeneratedKeys="true">
        insert into t_likes (target_id, target_type) values (#{targetId}, #{targetType});
    </insert>
</mapper>