<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.WordMapper">

    <sql id="select">
        select
        id,
        title,
        content,
        account_id,
        class_id,
        create_time
        from word
        <where>
            <if test="id != 0">
                id = #{id}
            </if>
            <if test="classId != 0">
                and class_id = #{classId}
            </if>
            <if test="accountId != 0">
                and account_id = #{accountId}
            </if>
            <if test="title != null">
                and title like #{title}
            </if>
        </where>
    </sql>


    <!--  添加新的文档  -->
    <insert id="insert" parameterType="word">
        insert into word values (#{id}, #{accountId}, #{classId}, #{likeId}, #{title}, #{content});
    </insert>

    <!--  根据id删除文档  -->
    <delete id="delete" parameterType="word">
        delete from word where id = #{id};
    </delete>

    <!--  动态修改文档  -->
    <update id="update" parameterType="word">
        update word set
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="content != null">
            content = #{content},
        </if>
        id = #{id}
        where id = #{id}
    </update>

    <!--  根据条件查询文档信息  -->
    <select id="select" parameterType="word" resultType="word">
        <include refid="select"></include>
    </select>


</mapper>